<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>cocome.cloud.serviceadapter</display-name>
	<context-param>
		<param-name>deploymentId</param-name>
		<param-value>cocome.cloud.serviceadapter.1</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ServiceProvider</servlet-name>
		<servlet-class>cocome.cloud.sa.serviceprovider.impl.ServiceProviderInterface</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceProviderDatabase</servlet-name>
		<servlet-class>cocome.cloud.sa.serviceprovider.impl.ServiceProviderDatabase</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceProviderBookSale</servlet-name>
		<servlet-class>cocome.cloud.sa.serviceprovider.impl.ServiceProviderBookSale</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExampleServlet</servlet-name>
		<servlet-class>cocome.cloud.sa.serviceprovider.impl.ExampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceProvider</servlet-name>
		<url-pattern>/Services/ServiceProvider</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceProviderDatabase</servlet-name>
		<url-pattern>/Services/Database/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceProviderBookSale</servlet-name>
		<url-pattern>/Services/BookSale/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExampleServlet</servlet-name>
		<url-pattern>/Services/ExampleServlet/*</url-pattern>
	</servlet-mapping>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>cocome-file-realm</realm-name>
	</login-config>
</web-app>